<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Login</title>
</head>

<body>
  <form action="/login" method="POST">
    <div class="jumbotron vertical-center">
      <div class="container text-center">
        <input type="password" id="password" name="password" placeholder='password' class="form-control text-center">
        <input type="submit" value="login" class="w-100 btn btn-primary">
      </div>
    </div>
  </form>
</body>
</html>